In [11]:
import logging
for handler in logging.root.handlers[:]:
    logging.root.removeHandler(handler)

logging.basicConfig(format='[%(levelname)s] %(asctime)s:\t %(message)s')
logger = logging.getLogger()
logger.setLevel(logging.INFO)

In [12]:
import sys

if 'almop' not in ' '.join(sys.path):
    logging.info('Local module \'almop\' not found in system path. Appending...')
    sys.path.append('../almop')

In [13]:
import almop
import eurostat

In [14]:
eurostat.get_data_df('PRC_HPI_Q')

,freq,purchase,unit,geo\TIME_PERIOD,2005-Q1,2005-Q2,2005-Q3,2005-Q4,2006-Q1,2006-Q2,...,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4,2022-Q1,2022-Q2,2022-Q3,2022-Q4
0,Q,DW_EXST,I10_Q,AT,NaN,NaN,NaN,NaN,NaN,NaN,...,184.06,186.12,195.50,203.67,210.27,217.11,223.49,228.38,233.23,228.55
1,Q,DW_EXST,I10_Q,BE,71.32,73.47,77.00,78.84,80.43,82.78,...,128.58,130.62,132.37,135.27,139.06,138.78,141.41,142.65,147.11,145.16
2,Q,DW_EXST,I10_Q,BG,72.66,75.77,77.96,79.84,83.62,84.99,...,130.69,133.16,137.22,138.73,142.24,146.41,155.46,160.96,167.01,169.23
3,Q,DW_EXST,I10_Q,CY,NaN,NaN,NaN,NaN,NaN,NaN,...,93.33,93.59,92.85,93.53,95.31,96.38,95.25,95.95,96.62,97.28
4,Q,DW_EXST,I10_Q,CZ,NaN,NaN,NaN,NaN,NaN,NaN,...,162.70,167.20,177.70,186.80,199.00,210.50,218.70,227.40,230.30,225.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,Q,TOTAL,RCH_Q,SE,NaN,3.30,3.90,2.60,3.50,2.90,...,2.20,1.70,3.10,3.50,2.60,1.30,2.60,0.50,-3.10,-3.60
377,Q,TOTAL,RCH_Q,SI,NaN,NaN,NaN,NaN,NaN,NaN,...,0.10,2.00,3.00,4.60,2.60,4.60,4.10,3.50,2.40,1.00
378,Q,TOTAL,RCH_Q,SK,NaN,NaN,NaN,NaN,NaN,4.00,...,1.50,1.10,-1.20,3.30,4.70,3.60,1.90,5.50,2.80,-0.80
379,Q,TOTAL,RCH_Q,TR,NaN,NaN,NaN,NaN,NaN,NaN,...,5.10,5.60,6.90,8.90,10.30,24.40,40.50,35.20,22.30,15.30
380,Q,TOTAL,RCH_Q,UK,NaN,2.90,2.40,0.20,0.60,3.80,...,3.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN